<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eLearning test Suite">
   <test name="LogOut_ELTC_016">
   <classes>
         <class name="com.training.sanity.tests.LogOut_ELTC_016"/>
    </classes>
   </test>
   <test name="AdminLogin_ELTC_017">
   <classes>
         <class name="com.training.sanity.tests.AdminLogin_ELTC_017"/>
    </classes>
   </test>
   <test name="ChangePassword_ELTC_018">
   <classes>
         <class name="com.training.sanity.tests.ChangePassword_ELTC_018"/>
    </classes>
   </test>
</suite>	